# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/

# --- Playwright ---
# Ignore browser binaries
pw-browser/
# Ignore test results and traces
test-results/
pytest_log.txt

# --- IDEs & System ---
.vscode/
*.log